/*-------FOOTER--------*/
footer{
    background-color: rgb(80, 165, 250);
    @include flex (flex, space-between, center);
    padding: 20px;
    .texto{
        @extend %flex;
        h2{
            font-family: 'Rowdies', cursive;
            font-size: 30px;

        }
        p{
            font-family: 'Rowdies', cursive;
            font-size: 20px;
        }
    }
    iframe{
        width: 150px;
        height: 150px;
    }
    .logosredes{
        display: flex;
        align-items: flex-end;
        a{
            img{
                width: 50px;
                height: 50px;
                margin: 5px;
                transition: 1s;
                &:hover{transform: scale(1.1);}                
            }
        }
    }
    a{
        display: flex;
        align-items: flex-end;
        img{
            width: 50px;
            height: 50px;
            transition: 1s;
            &:hover{transform: scale(1.1);}

        }
    }
}