/*-------HEADER--------*/


header{    
    .navbar{
        color: nth($colores, 2);
        background-color: nth($colores, 1);
        width: 100%;
        .container-fluid{
            .navbar-brand{
                img{
                    width: 100px;
                    height: 100%;
                }
            }
            .collapse{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            padding: 10px;
                            color: nth($colores, 2);
                            transition: 1s;
                            &:hover{
                            background-color: nth($colores, 3);
                            transform: scale(1.05);                            
                        }
                        }
                    }
                }
            }
        }
    }
}