//*--LISTAS--*/

$colores: 
rgb(245, 245, 245),
black,
gainsboro,
rgb(253, 205, 213),
rgb(159, 86, 226),
rgb(250, 250, 123);


//*--EXTEND--*/

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

//*--MIXIN--*/

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}


